.futOneCol{
    text-align: center;
    font-size: 17px;
}

.goBack{
    color: #0066ff;
    font-size: 14px;
    font-family: Helvetica;
    padding-left: 10px;
}

.all{
    padding-top: 1em;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
}

.labelAll{
    padding-top: 2em;
}

.btnUpDown{
    width: 50%;
    background-color: #c5c5c5; /* Green */
    border: none;
    color: black;
    //padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.btnEnd{
    width: 90%;
    background-color: #0066ff; /* Green */
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin-top: 1em;
}

.inputPoints{
    width: 50%;
    text-align: center;
    height: 4em;
}

.addInfo{
    padding-top: 3em;
    text-align: center;
    font-family: Helvetica;
    font-size: 26px;
}

.textTime{
    text-align: center;
}