<div style="margin-left: 1em; margin-top: 0.5em; color: #0066ff" (click)="Back()">
    <!--<i class="material-icons" style="font-size: 40px">backspace</i>-->
    Voltar
</div>
<div style="position: absolute; right: 0; top: 0;" (click)="Back()">Futebol</div>

<div *ngIf="alunoChosen">
<div class="container all">
    <div class="row text-align=center background-color:#0066ff">
      <div class="col futOneColR">
        <button class="btnUpDown" (click)="ChangeNbr1(1)"> + </button><br>
        <input class="inputPoints" type="number" value="{{nbr1}}" min="0" max="3"><br>
        <button class="btnUpDown" (click)="ChangeNbr1(-1)"> - </button>
      </div>
      <div class="col futOneColB">
        <button class="btnUpDown" (click)="ChangeNbr2(1)"> + </button><br>
        <input class="inputPoints" type="number" value="{{nbr2}}" min="0" max="3"><br>
        <button class="btnUpDown" (click)="ChangeNbr2(-1)"> - </button>
      </div>
    </div>
    <p></p>
    <div class="row text-align=center background-color:#ff3300f5 whoWon">
        <div class="col futOneCol ">
            <input type="radio" name="Winner" id="Winner" value="red" [(ngModel)]="this.winner"> Time Vermelho <br> Wins<br>
        </div>
        <div class="col futOneCol">
            <input type="radio" name="Winner" id="Winner" value="blue" [(ngModel)]="this.winner"> Time Azul<br> Wins<br>
        </div>
    </div>


    <div class="addInfo">
        <label> Tempo: </label> <br>
        <!--<input class="textTime" type="text" placeholder="MM:SS:ss">-->
        <input type="time" step="1" class="form-control" placeholder="MM:SS:ss" id="tempo" name="tempo" [(ngModel)]="time" style="text-align: center">
        
        
    </div>

    <div class="addInfo">
        <button class="btnEnd" [disabled]="DesabilitaBotao" (click)="End()"> Fim da prova </button>
    </div>
  </div>
</div>

<div *ngIf="!alunoChosen">
    <div class="all">
        <div class="teamA ">
            <label class="labelAll"> Insira o número do aluno 1 </label> <br>
            <input type="number" [(ngModel)]="aluno1" style="text-align: center" (change)="btnText = 'Verificar'">
            <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[0].Participacoes == 2 ? 'white' : 'black' }"><span *ngIf="Alunos[0].Participacoes == 2">*</span>{{Alunos[0].Nome}}</small></div>
        </div> 
        <div class="teamA">
            <label class="labelAll"> Insira o número do aluno 2 </label> <br>
            <input type="number" [(ngModel)]="aluno2" style="text-align: center" (change)="btnText = 'Verificar'"> 
            <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[1].Participacoes == 2 ? 'white' : 'black' }"><span *ngIf="Alunos[1].Participacoes == 2">*</span>{{Alunos[1].Nome}}</small></div>
        </div> 
        <p></p>
        <div class="teamB">
            <label class="labelAll"> Insira o número do aluno 3 </label> <br>
            <input type="number" [(ngModel)]="aluno3" style="text-align: center" (change)="btnText = 'Verificar'"> <br>
            <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[2].Participacoes == 2 ? 'red' : 'black' }"><span *ngIf="Alunos[2].Participacoes == 2">*</span>{{Alunos[2].Nome}}</small></div>
        </div>
        <div class="teamB">
            <label class="labelAll"> Insira o número do aluno 4 </label> <br>
            <input type="number" [(ngModel)]="aluno4" style="text-align: center" (change)="btnText = 'Verificar'"> <br>
            <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[3].Participacoes == 2 ? 'red' : 'black' }"><span *ngIf="Alunos[3].Participacoes == 2">*</span>{{Alunos[3].Nome}}</small></div>
        </div>
        <p></p>
        <button class="btnEnd" (click)="ConfereAluno()"> {{btnText}} </button> 
    </div>
</div>
