<div class="row" style="overflow: hidden">
    <div class="col-md-6 containBtn">
        <button (click)="redirectTo(0)" class="btn btnProva">Juiz</button>
    </div>
    <div class="col-md-6 containBtn">
    <button (click)="redirectTo(1)" class="btn btnProva">Cadastro de alunos</button>
    </div>
    <div class="col-md-6 containBtn">
    <button (click)="redirectTo(2)" class="btn btnProva">Cadastro de escolas</button>
    </div>
    <div class="col-md-6 containBtn">
    <button (click)="redirectTo(3)" class="btn btnProva">Placar</button>
    </div>
</div>
