.btnProva{
    background-color: #0066ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90%;
    
}

.containBtn{
    text-align: center;
    padding-top: 1em;

}