<div class="d-flex flex-column align-items-center" style="margin-top: 2em; scroll-margin-bottom: 1em;">
    <button (click)="backToMenu()" class="btn btn-primary">Voltar</button>
</div>
<div class="d-flex justify-content-between">
<button (click)="doByebye(false)" class="btn btn-success">Anterior</button>
<h3 *ngIf="parts" [@openClose]="isOpen ? 'open' : 'closed'">{{parts[0]?.Prova}}</h3>
<button (click)="doByebye(true)" class="btn btn-success">Próximo</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th> Alunos </th>
            <th> Escola </th>
            <th> Série </th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let part of parts" [@openClose]="isOpen ? 'open' : 'closed'">
            <td>{{part.Alunos}}</td>
            <td>{{part.Escola}}</td>
            <td>{{part.Ano}}</td>
        </tr>
    </tbody>
</table>
