<div class="d-flex flex-column align-items-center" style="margin-top: 3em;">
    <h2>Login IYRC 2019</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
            <input type="text" name="login" placeholder="Insira o login" class="form-control" ngModel required>
            <small id="helperLogin" class="form-text text-muted">Por favor, insira o login</small>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Insira a senha" class="form-control" ngModel requied>
            <small id="helperPassword" class="form-text text-muted"> Por favor, insira a senha</small>
        </div>        
        <button class="btn btn-primary"> Login </button><br>
    </form>
</div>
