<div *ngIf="Cadastrado" style="text-align: center">
    <h2>Dados do aluno cadastrado</h2>
    <label>Número: {{AlunoCadastrado.idAlunos}}</label> <br>
    <label>Nome: {{AlunoCadastrado.Nome}}</label> <br>
    <label>Escola: {{AlunoCadastrado.Escola}}</label> <br>
    <label>Série: {{AlunoCadastrado.Ano}}</label> <br>
    <hr>
    <button type="button" class="btn btn-success" (click)="Back()">Voltar</button>
</div>

<div class="d-flex justify-content-center" id="divContent">
    <h2> Cadastro de {{place}} </h2><br>    </div>
    <div class="d-flex justify-content-center" >
        <div class="container">
        <form ngSubmit="onSubmit()" *ngIf="!aluno">
            <h3>Nome da escola</h3>
            <input type="text" class="form-control" placeholder="Nome da escola" [ngModelOptions]="{standalone: true}" [(ngModel)]="escola.Nome">
        </form>
        <form ngSubmit="onSubmit()" *ngIf="aluno">
            <!--<h1> Número do aluno </h1>
            <input type="text" class="form-control" placeholder="Número do aluno" [ngModelOptions]="{standalone: true}" [(ngModel)]="regAluno.idAlunos">
            !-->
            <h3> Nome do aluno </h3>
            <input type="text" class="form-control" placeholder="Nome do aluno" [ngModelOptions]="{standalone: true}" [(ngModel)]="regAluno.Nome">
            <h3>Série do aluno</h3>
            <select class="form-control" [(ngModel)]="regAluno.idSeries" [ngModelOptions]="{standalone: true}">
                <option value="0" disabled selected>* Selecione a série</option>
                <option *ngFor="let serie of series" [value]="serie.idSeries">
                    {{serie.Desc}}
                </option>
            </select>
            <h3>Escola do Aluno</h3>
                <select class="form-control" [(ngModel)]="regAluno.idEscolas" [ngModelOptions]="{standalone: true}">
                <option value="0" disabled selected>* Selecione a escola</option>
                <option *ngFor="let escola of escolas" [value]="escola.idEscolas">
                    {{escola.Nome}}
                </option>
            </select>
        </form>
        <div class="d-flex justify-content-center" style="margin-top: 1em">
            <button class="btn btn-success" (click)="onSubmit()" id="btnCadastrar">Enviar formulário</button>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 1em; margin-bottom: 1em;">
            <button class="btn btn-primary" (click)="Back()">Voltar</button>
        </div>
            <div class="d-flex justify-content-center">
                <table class="table" *ngIf="aluno">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Escola</th>
                            <th>Série</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aluno of alunos">
                            <td>{{aluno.idAlunos}}</td>
                            <td>{{aluno.Nome}}</td>
                            <td>{{aluno.Escola}}</td>
                            <td>{{aluno.Ano}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="d-flex justify-content-center">
                <table class="table" *ngIf="!aluno">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let escola of escolas">
                            <td>{{escola.idEscolas}}</td>
                            <td>{{escola.Nome}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
    </div>
