<div style="margin-left: 1em; margin-top: 0.5em; color: #0066ff" (click)="Back()">
    <!--<i class="material-icons" style="font-size: 40px">backspace</i>-->
    Voltar
</div>
<div style="position: absolute; right: 0; top: 0;" (click)="Back()">Volei</div>
<div *ngIf="alunoChosen">
    <div class="container all">
        <div class="row text-align=center">
          <label>Bolinhas restantes no campo do time vencedor:</label>
          <div class="col futOneCol">
            <button class="btnUpDown" (click)="ChangeNbr(1)"> + </button><br>
            <input class="inputPoints" type="Number" [(ngModel)]="nbr1"><br>
            <button class="btnUpDown" (click)="ChangeNbr(-1)"> - </button>
          </div>
        </div>

        <p></p>
        <div class="row text-align=center whoWon">
            <div class="col futOneCol">
                <input type="radio" name="Winner" id="Winner" value="true" [(ngModel)]="T1Win"> Time Vermelho <br> Wins<br>
            </div>
            <div class="col futOneCol">
                <input type="radio" name="Winner" id="Winner" value="false" [(ngModel)]="T1Win"> Time Azul<br> Wins<br>
            </div>
        </div>
    
        <div class="addInfo">
            <label> Tempo : </label> <br>
            <input type="time" step="1" class="form-control" placeholder="MM:SS:ms" style="text-align: center" [(ngModel)]="TempoPartida">
        </div>
    
        <div class="addInfo">
            <button class="btnEnd" [disabled]="DesabilitaBotao" (click)="End()"> Fim da prova </button>
        </div>
      </div>
    </div>
    
    <div *ngIf="!alunoChosen">
        <div class="all">
            <div class="teamA ">
                <label class="labelAll"> Insira o número do aluno 1 </label> <br>
                <input type="number" [(ngModel)]="Participacao1.idAluno1" style="text-align: center" (change)="btnText = 'Verificar'">
                <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[0].Participacoes == 2 ? 'white' : 'black' }"><span *ngIf="Alunos[0].Participacoes == 2">*</span>{{Alunos[0].Nome}}</small></div>
            </div> 
            <div class="teamA">
                <label class="labelAll"> Insira o número do aluno 2 </label> <br>
                <input type="number" [(ngModel)]="Participacao1.idAluno2" style="text-align: center" (change)="btnText = 'Verificar'"> 
                <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[1].Participacoes == 2 ? 'white' : 'black' }"><span *ngIf="Alunos[1].Participacoes == 2">*</span>{{Alunos[1].Nome}}</small></div>
            </div> <p></p>
            <div class="teamB">
                <label class="labelAll"> Insira o número do aluno 3 </label> <br>
                <input type="number" [(ngModel)]="Participacao2.idAluno1" style="text-align: center" (change)="btnText = 'Verificar'"> <br>
                <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[2].Participacoes == 2 ? 'red' : 'black' }"><span *ngIf="Alunos[2].Participacoes == 2">*</span>{{Alunos[2].Nome}}</small></div>
            </div>
            <div class="teamB">
                <label class="labelAll"> Insira o número do aluno 4 </label> <br>
                <input type="number" [(ngModel)]="Participacao2.idAluno2" style="text-align: center" (change)="btnText = 'Verificar'"> <br>
                <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Alunos[3].Participacoes == 2 ? 'red' : 'black' }"><span *ngIf="Alunos[3].Participacoes == 2">*</span>{{Alunos[3].Nome}}</small></div>
            </div>
                <p></p>
                <button class="btnEnd" (click)="ConfereAluno()"> {{btnText}} </button>
            
            </div>
    </div>
    