<div style="margin-left: 1em; margin-top: 0.5em; color: #0066ff" (click)="Back()">
    <!--<i class="material-icons" style="font-size: 40px">backspace</i>-->
    Voltar
</div>

<div class="row">
    <div class="col-md-6 containBtn">
        <button class="btnProva" (click)="changeTo('futebol')"> Futebol </button> <br>
    </div>
    <div class="col-md-6 containBtn">
        <button class="btnProva" (click)="changeTo('basquete')"> Basquete </button> <br>
    </div>
    <div class="col-md-6 containBtn">
        <button class="btnProva" (click)="changeTo('volei')"> Vôlei </button> <br>
    </div>
    <div class="col-md-6 containBtn">
        <button class="btnProva" (click)="changeTo('humanoide')"> Humanoide </button> <br>
    </div>
    <div class="col-md-6 containBtn">
        <button class="btnProva" (click)="changeTo('trajeto')"> Trajeto com Obstáculos </button> <br>
    </div>
    <div class="col-md-6 containBtn">
        <button class="btnProva" (click)="changeTo('floresta')"> Save the Forest </button> <br>
    </div>
    <div class="col-md-6 containBtn">
        <button class="btnProva" (click)="changeTo('seguidor')"> Line Follower </button> <br>
    </div>
    
</div>
