<div style="margin-left: 1em; margin-top: 0.5em; color: #0066ff" (click)="Back()">
    <!--<i class="material-icons" style="font-size: 40px">backspace</i>-->
    Voltar
</div>
<div style="position: absolute; right: 0; top: 0;" (click)="Back()">Line Follower</div>
<div *ngIf="alunoChosen">
    <div class="container all">
        <div class="row text-align=center">
            <div class="futOneCol">
                <label> Obstáculos: </label> <br>
                <button class="btnUpDown" (click)="ChangeNbr(1, 1)"> + </button><br>
                <input class="inputPoints" type="Number" [(ngModel)]="Participacao.P1"><br>
                <button class="btnUpDown" (click)="ChangeNbr(1, -1)"> - </button>
            </div>
        </div>
        
        <div class="addInfo">
            <label> Tempo : </label> <br>
            <input type="time" step="1" class="form-control" placeholder="MM:SS:ms" [(ngModel)]="Participacao.Tempo" style="text-align: center">
        </div>
    
        <div class="addInfo">
            <button class="btnEnd" [disabled]="DesabilitaBotao" (click)="End()"> Fim da prova </button>
        </div>
    </div>
</div>
        
<div *ngIf="!alunoChosen">
    <div class="all">
        <label class="labelAll"> Insira o número do aluno </label> <br>
        <input type="number" [(ngModel)]="Participacao.idAluno1" style="text-align: center" (change)="btnText = 'Verificar'"> <br> 
        <div style="position: absolute; margin-top: -0.3em; width: 100%;" *ngIf="Verificado"><small [ngStyle]="{'color': Aluno.Participacoes == 3 ? 'red' : 'black' }"><span *ngIf="Aluno.Participacoes == 3">*</span>{{Aluno.Nome}}</small></div>
        <p></p>
        <button class="btnEnd" (click)="ConfereAluno()"> {{btnText}} </button>
    </div>
</div>